@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --airDataLogoColor: #30ccd4;
    --pinkColor: #6200FC;
    --redColor: #ff0066;
    --yellowColor: #FCC200;
    --cinzaColor: #828282;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 

}
body{
    overflow-x: hidden;
}

/* INICIO NAVBAR*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    color: var(--cinzaColor);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    min-width: 70%;
}

.nav-links a {
    transition: 0.5s;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: rgba(133, 127, 127, 0.792);
}

.nav-links a:hover {
    color: var(--pinkColor);
    font-size: 18px;
    transition: 0.5s;
}

.ativo {
    color: var(--pinkColor);
}

/* FIM NAVBAR*/


/* .container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 100px 20vw 100px 20vw;*/
    padding: 100px 20vw;
    min-height: 400px;
    padding-top: 100px; 
    color: var(--cinzaColor);
    position: relative;


}
.container.blue {
    background-color: var(--airDataLogoColor);
}
.container p{
    margin: 10px;
}
.carrosel {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.item-carrosel {
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    border: 2px solid var(--airDataLogoColor);

}

img {
    height: 50px;
}

h1 {
    font-size: 3.5rem;
}


::-webkit-scrollbar {
    width: 2px;
    background: #FFF
}

::-webkit-scrollbar-thumb {
    background: var(--airDataLogoColor)
}
/* teste */




  .container.blue {
    background: #30ccd4;
    

  }

  .container.blue p, .container.blue h1{
    color: white;
  }
  /* Curved bg with plain CSS */

  .curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
  }

  .curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: white;
    
  }

  .curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #30ccd4;
    transform: translate(-4%, 40%);
    z-index: -1;
  }