.navbar-edit {
    justify-content: space-between !important;
}

.sidebar {
    height: 100%;
}

.sidebar li a nav-link:hover {
    border-left: 5px solid #106EEA;
}

.active {
    border-left: 5px solid #106EEA; 
}

.span_userName {
    margin-left: 8px;
}

#btn-verMais {
    cursor: pointer;
}

#btn-verMenos {
    cursor: pointer;
    display: none;
}

.btn-select {
    background-color: #fff;
    border: 1px solid #106EEA !important;
}

.titulo-componentes {
    display: flex;
    align-items: center;
}

.titulo-componentes i {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

#card_componentes {
    cursor: pointer;
}

/* CHART.JS*/

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms
}

.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1
}

.chartjs-size-monitor-expand>div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0
}

.chartjs-size-monitor-shrink>div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0
}

.legenda{
    width: 30%;
    height: 150px;
    border: 2px solid #5a5a5a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

@keyframes chartjs-render-animation {
    from {
        opacity: .99
    }

    to {
        opacity: 1
    }
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms
}

.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1
}

.chartjs-size-monitor-expand>div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0
}

.chartjs-size-monitor-shrink>div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0
}

.btn-deletar, .btn-deletar:hover, .btn-deletar:visited {
    border: #d33;
    background-color: #d33;
    box-shadow: none !important;
}